main {
  min-height: 100vh;
  font-family: arial;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/img/bg-login.jpg);
}
.form-login {
  width: 400px;
  height: 340px;
  background: #4e4d4d;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-top: 4px solid #017bab;
  color: white;
}

.form-login h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}










